.DS_Store
*.pid
*.bak*
.vscode
.idea
*.sln
*.pyc
*.gv
*.sql
*.env
*.sh
static/assets*
venv
.venv
USERRES
rule_engine
profiles
debug
static_root
local_settings.py
htmlcov
htmltest
.coverage
coverage.xml
result.xml
swagger.json
.codecc
*.pyi
init_env
*.log
build.yml
logs
bk_resource
*.isorted
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
coverage
*.local
*.bak.*
yarn.lock
*.suo
*.ntvs*
*.njsproj
*.sw?
.eslintcache
.stylelintcache
.env*
*.pdm-python
bkcodeai.json
*.cursor
*.specify
AGENTS.md
.claude