/** info dialog */
.audit-info-dialog .audit-info-dialog__content {
  margin-bottom: 24px;
  text-align: center;
}

.audit-info-dialog .audit-info-dialog__main.wrap {
  margin-top: 25px;
}

.audit-info-dialog .audit-info-dialog__footer {
  padding-bottom: 24px;
  text-align: center;
}

.audit-info-dialog .audit-info-dialog__footer .bk-button {
  width: 88px;
}

/* 弹出框标题换行 */
.bk-modal-wrapper.bk-dialog-wrapper .bk-dialog-header .bk-dialog-title {
  white-space: pre-wrap !important;
}

.bk-modal-wrapper.bk-dialog-wrapper.audit-info-dialog .bk-dialog-header {
  padding: 48px 24px 16px;
  font-size: 20px;
}

.bk-modal-wrapper.bk-dialog-wrapper.audit-info-dialog .bk-modal-content {
  padding: 0 24px 24px;
}

/* fix bk-table */
.bk-table {
  &.bordered-row {
    .bk-table-footer {
      padding: 0 15px;
    }
  }

  .bk-exception-wrapper {
    height: 200px;
    justify-content: center;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .bk-table-body.__is-empty + .bk-table-fixed {
    display: none;
  }

  /* 修改表格悬停超出的问题 */
  .bk-table-body {
    table td.column_fixed.column_fixed_right{
      z-index: 0 !important;
    }

    /* 去掉所有表格内按钮的左间隔 使其对齐 */
    table tbody tr td:not(:last-child) .cell .bk-button {
      margin-left: 0;
    }
  }

  .bk-pagination {
    .is-last {
      margin-left: auto;
    }
  }

  /* 悬停表头的背景色修改 */
  .bk-table-head table th.column_fixed,
  .bk-table-head table td.column_fixed,
  thead {
    background-color: #fafbfd !important;
  }

  /* 表格下方边界线被遮挡问题 */
  .bk-fixed-bottom-border{
    z-index:1 !important;
  }


}

/* 解决提示消息时icon对齐问题 */
.bk-message-icon span{
  display: inline !important;
}



/* 解决表格中loading被遮挡的问题 */
.bk-loading-wrapper .bk-loading-mask{
  z-index: 10 !important;

}

.bk-loading-wrapper .bk-loading-indicator{
  z-index: 11 !important;
}



.bk-sideslider-wrapper {
  z-index: 2000;
}

/* radio按钮选中禁用的样式 */
.bk-radio-tab .bk-radio-button.is-checked.is-disabled .bk-radio-button-label, 
.bk-radio-card .bk-radio-button.is-checked.is-disabled .bk-radio-button-label{
  color: #C9CBD1;
  background-color: #F0F1F5;
}

/* radio按钮禁用的样式 */
.bk-radio-tab .bk-radio-button.is-disabled .bk-radio-button-label, 
.bk-radio-card .bk-radio-button.is-disabled .bk-radio-button-label{
  color: #D5D7DB;
  background-color: #FFF;
}