@keyframes rotate-loading {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "PingFang SC",
    "Microsoft YaHei",
    "Helvetica Neue",
    Arial,
    sans-serif;
  font-size: 12px;
  line-height: 1.4285;
  letter-spacing: 0.4px;
  text-rendering: optimizelegibility;
  background: #f5f6fa;
  -webkit-tap-highlight-color: transparent;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

dl,
dt,
dd,
p,
pre,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  color: #3a84ff;
  text-decoration: none;
  cursor: pointer;
}

button {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.w120 {
  width: 120px;
}

.w88 {
  width: 88px;
}

.mt8 {
  margin-top: 8px;
}

.mr8 {
  margin-right: 8px;
}

.mt16 {
  margin-top: 16px;
}

.mt24 {
  margin-top: 24px;
}

.mr16 {
  margin-right: 16px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb12 {
  margin-bottom: 12px;
}


.mb16 {
  margin-bottom: 16px;
}

.mb24 {
  margin-bottom: 24px;
}

.mr24 {
  margin-right: 24px;
}

.ml8 {
  margin-left: 8px;
}

.ml16 {
  margin-left: 16px;
}

.ml24 {
  margin-left: 24px;
}

.rotate-loading {
  color: #3a84ff;
  animation: rotate-loading 1s linear infinite;
}

.tips {
  border-bottom: 1px dashed #c4c6cc;
}

.number {
  padding: 0 2px;
  font-weight: 600;
  color: #3a84ff;
}

.cursor {
  cursor: pointer;
}

.flex {
  display: flex;
}
