@define-mixin render-table {
  table {
    width: 100%;
    margin-top: 12px;
    font-size: 12px;
    text-align: left;

    tr {
      border-bottom: 1px solid #e7e8ed;
    }

    th {
      height: 40px;
      font-weight: normal;
      line-height: 40px;
      vertical-align: middle;
      background: #f5f6fa;
    }

    th,
    td {
      height: 40px;
      padding: 0 16px;
    }

    tbody {
      tr {
        cursor: pointer;
      }
    }

    .cell-text {
      display: block;
      height: 20px;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      word-break: break-all;
      white-space: normal;
      direction: rtl;
    }
  }
}
